/* 폰트 임포트 부분 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    margin: 0 auto;
    padding: 0;
    display: block;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
    font-family: Pretendard;
}
* {
    outline-offset: 2px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
label {
    font-size: 14px;
    font-family: Pretendard;
}
input {
    outline: none;
}
/* ================================================================================= 메인 페이지 css 시작 =========================================================================================== */
/* 헤더 부분 */
.header-navbar {
    position: static;
}
.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}
/* 로고 */
.navbar-logo{ 
    display: flex;
    margin: 0px 60px 0px 60px;
}
a {
    text-decoration: none;
    color: black;
}
/* 제품 / 회사 / 채용 / 문의 */
.navbar-menu {
    list-style: none;
    display: flex;
    /* margin-left: 40px; */
    padding: 0;
    align-items: center;
}
.navbar-menu li{
    padding: 15px;
} 
.navbar-menu li:hover {
    background-color: #D8D8D8;
    border-radius: 3px;
}
/* 로그인 / 회원가입 / 검색  */
.navbar-aut{
    list-style: none;
    display: flex;
    margin: 0;
    padding-right: 32px;
    padding-left: 0;
}
.navbar-aut li {
    padding: 15px;
    
}
.navbar-aut li:hover {
    background-color: #D8D8D8;
    border-radius: 3px;
}
/* 메뉴 모달창 */
.menu-pan {
    width: 100%;
    height: 300px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 999;
    font-size: 15px;
    display: none;
}
.menu-pan-box {
    display: flex;
    max-width: 1799px;
    align-items: center;
    margin: 0px;
    justify-content: center;
}
.menu-category{
    margin: 0;
    width: 300px;
}
.main-product {
    height: auto;
    max-width: 250px;
    width: 100%;
    display: flex;
    margin-left: 20px;
}
.category {
    padding-left: 0px;
    margin : 40px 100px 0px 60px;
    flex-direction: column;
    justify-content: center;
}
.main-product-text-box {
    text-align: center;
}
.main-product-text-1 {
    text-decoration: underline;
    margin-right: 10px;
    font-size: 14px;
}
.main-product-text-2 {
    text-decoration: underline;
    margin-left: 10px;
    font-size: 14px;
}
/* 700px 이하일 경우 토글버튼 css */
.navbar-togglebtn {
    position:absolute;
    right: 15px;
    font-size: 30px;
    margin-top: 15px;
    display: none;
}
/* 700px 이하일 경우 반응형으로 변경 */
@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar-menu li {
        width: 100%;
        text-align: start;
    }
    .navbar-aut {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar-aut li {
        width: 100%;
        text-align: start;
    }
    .navbar-togglebtn {
        display: block;
    }
    .navbar-menu.active,
    .navbar-aut.active {
        display: flex;
    }
}
/* 메인 페이지 사진들 CSS */
.main-wrapper {
    width: 100%;
    position: absolute;
    font-family: Pretendard;
    flex-flow: column;
}
.outter-box {
    height: 100ch;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    grid-row-start: 1;
    grid-column-start: -1;
    grid-row-end: auto;
    grid-column-end: auto;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    z-index: 3;
}
.inner-box {
    margin-top: 800px;
}
.main-wrapper > div:last-child{border-bottom: 0;}
.main-img {
    position: absolute;
    width: 100%;
    height: 100ch;
}
.navbar-menu-text{
    font-family: Pretendard;
    font-weight: 500;
}
.details-btn {
    margin-right: 10px;
    padding: 0;
    position: relative;
    align-items: center;
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    background-color: black;
    color:white;
    font-family: Pretendard;
    font-weight: 600;
}
.details-btn:hover {
    background-color: #424242;
}
.inquiry-btn {
    margin-left: 10px;
    padding: 0;
    position: relative;
    align-items: center;
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    background-color: white;
    color: black;
    font-family: Pretendard;
    font-weight: 600;
}
.img-text {
    position: absolute;
    margin-top: 100px;
    text-align: center;
    color: white;
    font-size: 40px;
}
.img-text-sub {
    position: absolute;
    margin-top: 150px;
    text-align: center;
    color: white;
    font-size: 15px;
}
/*================================================================================= 로그인 페이지 css 시작 =========================================================================================== */
.login-tbody {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
.login-wrapper {
    max-width: 330px;
    display: block;
    inline-size: 70%;
    margin-inline-start: auto;
    margin-inline-end: auto;

}
.loginPage-login-btn {
    width: 320px;;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    background-color: #A9D0F5;
    color:white;
    font-family: Pretendard;
    font-weight: 600;
    margin-bottom: 24px;
}
.loginPage-login-btn:hover {
    background-color: #58ACFA;
}
.loginPage-account-btn {
    width: 320px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    background-color: #585858;
    color: white;
    font-family: Pretendard;
    font-weight: 600;
    margin-top: 24px;
}
.loginPage-account-btn:hover{
    background-color: #2E2E2E;
}
.loginPage-information-text-box {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f4f4f4;
    width: 320px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-between;
    padding-left: 12px;
    justify-content: center;
}
.loginPage-information-text-box:hover {
    box-shadow: inset 0px 0px 0px 0.3px #666;
}
.loginPage-information-text {
    background-color: transparent;
    border: none;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    width: 320px;
}
.login-id-items {
    padding-top: 24px;
    padding-bottom: 24px;
}
.login-pw-items {
    padding-bottom: 24px;
}
.need-help-login {
    text-decoration: underline;
}
.need-help-login::before, .need-help-login::after {
    content: "";
    display: inline-block;
    width: 20%;
    height: 1px;
    margin: 0 8px;
    background-color: #e2e3e3;
}
/*================================================================================= 회원가입 페이지 css 시작 =========================================================================================== */
.accountPage-information-text-box {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f4f4f4;
    width: 320px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-between;
    padding-left: 12px;
}
.accountPage-information-text-box:hover {
    box-shadow: inset 0px 0px 0px 0.3px #666;
}
.accountPage-information-text {
    background-color: transparent;
    border: none;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    width: 320px;
}
.accountPage-account-btn{
    width: 320px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    background-color: #A9D0F5;
    color:white;
    font-family: Pretendard;
    font-weight: 600;
}
.accountPage-account-btn:hover {
    background-color: #58ACFA;
}
.accountPage-request-authentication-number {
    width: 50px;
    height: 40px;
    background-color: #585858;
    border-radius: 4px;
    color:white;
    font-family: Pretendard;
    font-weight: 600;
    font-size: 12px;
}
.accountPage-request-authentication-number:hover {
    background-color: #2E2E2E;
}
